body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fdf;
}

h2 {
  color: rgb(78, 78, 78);
  margin-bottom: 10px;
}

hr {
  width: 20%;
  margin-top: 0;
  color: rgba(0, 0, 255, 0.8);
}

h3 {
  margin: 1em;
  text-transform: capitalize;
  font-size: 1.4rem;
  color: rgb(60, 60, 60);
}

h4 {
  font-size: 1.4rem;
  margin: 1em;
  text-transform: capitalize;
  color: rgb(78, 78, 78);
}

p {
  color: #777;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  width: 70%;
  padding: 10px;
  text-align: center;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 1px 1px 5px 2px rgba(0, 0, 0, 0.3);
}

.item-container img {
  width: 10em;
  height: 10rem;
  border-radius: 50%;
  box-shadow: -5px -3px rgba(0, 0, 255, 0.8);
}

.btn-area button {
  margin: 5px;
  padding: 10px;
  background: none;
  border: none;
  color: rgba(0, 0, 255, 0.8);
  font-size: 1.8rem;
  cursor: pointer;
}

.surprise-btn {
  padding: 10px;
  margin-bottom: 5px;
  background: rgba(0, 0, 255, 0.8);
  border: none;
  color: #fff;
  border-radius: 6px;
  text-transform: capitalize;
  transition: all 200ms;
}

.surprise-btn:hover {
  border: solid 1px rgba(0, 0, 255, 0.8);
  color: rgba(0, 0, 255, 0.8);
  background-color: #fff;
}
